<p id="notice"><%= notice %></p>

<h1>Series</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Seasons</th>
      <th>Description</th>
      <th>Genres' Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @series.each do |series| %>
      <tr>
        <td><%= series.id %></td>
        <td><%= series.name %></td>
        <td><%= series.seasons.count unless series.seasons.nil? %></td>
        <td><%= series.description %></td>
        <td><%= series.genre.name %></td>
        <td><%= link_to 'View Seasons',  seasons_path(:series_id => series.id)%></td>
        <td><%= link_to 'Show', series %></td>
        <td><%= link_to 'Edit', edit_series_path(series) %></td>
        <td><%= link_to 'Destroy', series, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Series', new_series_path %>
<%= link_to 'Back', :back %>
