<!DOCTYPE html>
<html>
  <head>
    <title>Tvshows</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= link_to "Seasons",   seasons_path%>
    <%= link_to "Episodes", episodes_path%>
    <%= link_to "Genres",   genres_path%>
    <%= link_to "Series",   series_index_path%>


    <%= yield %>
  </body>
</html>
